{% extends 'base.html.twig' %}

{% block body %}
    <h1>Customer Page</h1>

    <a href="{{ path('customer_create') }}">
        <button>Create Customer</button>
    </a>
    <a href="{{ path('customer_list') }}">
        <button>View Customer List</button>
    </a>
    <a href="{{ path('app_register') }}">
        <button>User registration</button>
    </a>
    <a href="{{ path('app_login') }}">
        <button>User login</button>
    </a>
{% endblock %}
